
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  
  max-width: 700px;
  margin: 20px auto;
  margin-top: 20px;
  
  
}

.navWrap {
  background-color: white;
  margin-bottom:80px ;

}

.serachWrap {
  background-color: white;
  margin: 10px;
  padding: 1rem;
  box-shadow: 5px -1px 10px rgb(0 0 0 /30%); 
  border-radius: 1rem;
  margin: 10px;
  width: 500px;
  align-items: center;
}

